{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}Home{% endblock %}

{% block content %}
<ul class="list-style-type: none;">
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
    <li>text..</li>
</ul>
{% endblock content %}

{% block extra_scripts %}{% endblock %}